body {
    background-image: url(5.png);
    background-size: cover;
    font-family: Lato;
}

.text {
    text-align: center;
    padding-top: 20%;
}

h1.head1 {
  color: white;
  font-weight: 700;
  font-size: 50px;
}

h4.head2 {
    font-size: 35px !important;
    color: white;
    font-weight: 700;
}

.navbar-default {
  background-color: #7c58ae;
  border-color: #7c58ae;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #7c58ae;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #7c58ae;
}
.navbar-default .navbar-toggle {
  border-color: #7c58ae;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #7c58ae;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

p.ppp {
    text-align: center;    
}

h1.nice {
    text-align: center;
}

.team-header {
    text-align: center;
    color: white;
}

.text-team-header {
    font-weight: 700;
    font-size: 45px;
}

.text-small-team-header {
    font-size: 30px;
}

.owner-text {
    text-align: center;
    color: red;
}

h1.boldinit {
    font-weight: 700;
}

.thumbnail {
    padding: 0px;
}